@import url('https://fonts.googleapis.com/css2?family=Syncopate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
	background-color: black;
	margin: 0;
	padding: 0;
	cursor: default;
	width: 1920px;
	height: 851px;
}

.header {
	height: 100px;
	width: 1920px;
	display: grid;
	grid-template-columns: repeat(32, 29px);
	grid-template-rows: repeat(27, 14px);
	grid-column-gap: 9px;
	grid-row-gap: 10px;
}

.logo {
	grid-row-start: 2;
	grid-column-start: 2;
}

.menu {
	grid-row-start: 2;
	grid-column-start: 36;
	width: 460px;
	height: 100px;
}

.first_line {
	width: 30px;
	border: 1px solid #FFFFFF;
	transform: rotate(-90deg);
}

.second_line {
	width: 30px;
	border: 1px solid #FFFFFF;
	transform: rotate(-90deg);
}

.ul_menu {
	font-family: 'Syncopate', sans-serif;
	font-size: 24px;
	color: white;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	list-style-type: none;
}

.company_name{
	font-family: 'Syncopate', sans-serif;
	font-size: 200px;
	color: white;
	grid-row-start: 8;
	grid-column-start: 8;

}

.second_block{
	display: grid;
	grid-template-columns: repeat(32, 29px);
	grid-template-rows: repeat(27, 14px);
	grid-column-gap: 9px;
	grid-row-gap: 10px;
	height: 1280px;
	width: 1920px;
}

.VK{
	grid-row-start: 2;
	grid-column-start: 2;
}

.TG{
	grid-row-start: 5;
	grid-column-start: 2;
}

.YT{
	grid-row-start: 8;
	grid-column-start: 2;
}

.TB{
	grid-row-start: 11;
	grid-column-start: 2;
}

.lens{
	grid-row-start: 5;
	grid-column-start: 18;
}

.VK:hover {transition: 0.5s all;
  opacity: 0.5;
  cursor: pointer;}

.VK:not(:hover){
  transition: 0.5s all;
  opacity: 1;}

.TG:hover {transition: 0.5s all;
  opacity: 0.5;
  cursor: pointer;}

.TG:not(:hover){
  transition: 0.5s all;
  opacity: 1;}

.YT:hover {transition: 0.5s all;
  opacity: 0.5;
  cursor: pointer;}

.YT:not(:hover){
  transition: 0.5s all;
  opacity: 1;}

.TB:hover {transition: 0.5s all;
  opacity: 0.5;
  cursor: pointer;}

.TB:not(:hover){
  transition: 0.5s all;
  opacity: 1;}

.phrase_text{
	color: white;
	width: 483px;
	grid-row-start: 22;
	grid-column-start: 20;
	font-family: 'Roboto', sans-serif;
	font-size: 36px;
}

.btn{
	height: 100px;
	width: 460px;
	border-radius: 90px;
	background-color: rgba(0, 0, 0, 0);
	color: white;
	font-size: 30px;
	font-weight: 400;
	border: 1px solid white;
	font-family: 'Roboto', sans-serif;
}

#btn_first{
	grid-row-start: 41;
	grid-column-start: 13;
}

#btn_second{
	grid-row-start: 41;
	grid-column-start: 27;
}

.btn:hover {transition: 0.5s all;
  background-color: white;
  color: black;
  cursor: pointer;}

.btn:not(:hover){
  transition: 0.5s all;
  background-color: rgba(0, 0, 0, 0);
  color: white;}

.third_block {
	width: 1920px;
	height: 1280px;
	background-image: url(../img/Bg_third.png);
}

.third_block1 {
	margin-top: 10%;
	display: flex;
	flex-direction: row;
	justify-content:space-around;
	align-items: center;
}

.third_block2 {
	margin-top: 5%;
	display: flex;
	flex-direction: row;
	justify-content:space-around;
	align-items: center;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.citata{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 1080px;
    width: 100%;
}

.main{
    background: url("../img/main.png") no-repeat;
    width: 1251px;
    height: 829px;
    display: flex;
}

.citate{
   background: url("../img/citata.png") no-repeat;
   display: flex;
   flex-direction: column;
   gap: 1em;
   justify-content: center;
   align-items: flex-start;

}

.podblock-2{
   height: 50%;
   width: 100%;
}

.podblock{
   height: 24%;
   width: 100%;
}

.words{
    margin: 0;
    padding: 50px 0 0 90px;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20.2503px;
    line-height: 25px;
    letter-spacing: 0.015em;
    width: 580px;
    height: 104px;
}

.main__div-1{
   height: 829px;
   width: 65%;
}

.main__div-2{
   height: 829px;
   width: 35%;
}

.author{
    margin: 0;
    padding: 30px 0 0 90px;
    width: 290px;
    height: 38px;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
}
